[2021-05-01 13:40] anshmishra010 opened #1 "Want to have a talk"
Kartikey , I want to ask something related to this project

[2021-05-01 13:41] kartikey54 commented on #1
yes, what's up?

[2021-05-01 13:42] anshmishra010 commented on #1
@kartikey54 As I am highly interested in this project , but I don't want to copy it

[2021-05-01 13:42] anshmishra010 commented on #1
So can you explain a bit more about on google meet , if possible ?

[2021-05-01 13:44] anshmishra010 commented on #1
What you say ? @kartikey54

[2021-05-01 13:55] kartikey54 commented on #1
Sorry, I'm not available right now for a google meet, we can do it sometime next week maybe
I'll add a summary here so that everybody interested can check it:

The project works by polling the CoWin API (documentation: https://apisetu.gov.in/public/api/cowin)

An API is available in the aarogya setu system to check for the availability of the vaccine in a pin code for a specified date.

The script

[2021-05-01 13:58] anshmishra010 commented on #1
Okay thankyou for the references

[2021-05-01 14:33] anshmishra010 commented on #1
@kartikey54  By the way what's that "APPLICATION_PASSWORD" in .env ?
Like I didn't got any password .
And for what it being used ?

[2021-05-01 14:42] kartikey54 commented on #1
You can generate one. See: https://support.google.com/accounts/answer/185833?p=InvalidSecondFactor&visit_id=637554658548216477-2576856839&rd=1

[2021-05-01 19:06] #1 closed

[2021-05-02 05:56] Priyaraj17 opened #5 "User-Interface for General Public"
It's a great initiative which will benefit a lot of people. I would Like to work on the user interface that will make it easy to use for the general public who don't have much experience in technology.

[2021-05-02 06:01] csagar131 opened #6 "The term 'pm2' is not recognized as a name of a cmdlet, function, script file, or executable program."
while running the command : npm i && pm2 start vaccineNotifier.js  its showing the following error:
pm2: The term 'pm2' is not recognized as a name of a cmdlet, function, script file, or executable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2021-05-02 06:04] LalitKushwah commented on #6
Check once to install pm2 globally for example
npm install -g pm2

[2021-05-02 06:12] kartikey54 commented on #5
@Priyaraj17
That would be awesome!

[2021-05-02 06:13] kartikey54 commented on #6
Closing this issue as @LalitKushwah resolved this.

[2021-05-02 06:13] #6 closed

[2021-05-02 07:59] harshit-budhraja opened #9 "Use calendarByPin endpoint instead of findByPin endpoint"
The official co-vin APIs have an endpoint called `calendarByPin` which gives you appointment details for the next 7 calendar days. We could use that instead of the current `findByPin` that we're using and avoid unnecessary computation on our end.

References (Official Documentations):
[1] Postman: https://www.postman.com/postman/workspace/covid-19/documentation/4258786-7de7f235-bd0e-4660-a9d2-2e82

[2021-05-02 08:00] nitish166 commented on #5
Hi @Priyaraj17 That's would be really appreciate. Let me know if you need any help for the GUI part

[2021-05-02 08:13] Priyaraj17 commented on #5
@nitish166 Sure sir. I am thinking of creating a simple HTML responsive form that submits the data to the .env file. Thanks

[2021-05-02 09:27] kartikey54 commented on #9
@harshit-budhraja great suggestions! For sure, lets do it!

[2021-05-02 09:34] abhilashkulkarniofficial commented on #9
@harshit-budhraja I'd like to contribute to it too. Please let me know the architecture you're planning to use. I can work on the front end using React or Vue.

[2021-05-02 09:45] csagar131 commented on #9
@abhilashkulkarniofficial  i can also work with you for the react part. please let me know

[2021-05-02 10:17] harshit-budhraja commented on #9
Cool! @kartikey54, @abhilashkulkarniofficial, @csagar131 do you guys use Discord? Here's [my server](https://discord.gg/mHS4DUwJ) that you all could join and let's discuss there?

[2021-05-02 10:21] gaurav6041 opened #10 "Application not running"
Hi, Firstly would like to thank you for making this application.
Great initiative!!!!

My application is not coming up.

Below are the logs printed

[code]

Below are the versions
**node : v14.16.1**
**npm :6.14.12**
**os: macOS**

[2021-05-02 10:25] csagar131 commented on #10
hey @gaurav6041  kindy install pm2 using npm install -g pm2

[2021-05-02 10:30] PK98 opened #11 "A more thorough guide"
Hi, first of all, hats off and thank you so much for the effort.
I just have one request if you could elaborate in step by step details on how to use the script (starting from something as simple as how to download it all and then running it) as I don't have much idea on how to use git and then run the desired set of codes. I feel many others with weaker or no technical background might also face

[2021-05-02 10:35] dhyani15 commented on #9
Hi folks, if you need any help with backend, or want to make a mobile app out of this. I can work with Nodejs and flutter.

[2021-05-02 10:58] rahulchungath commented on #11
Yes exactly. Please shed more details on how to run this. I got till the Google verification part, but i'm not sure how to give access too the application.  But thank you for the initiative.

[2021-05-02 11:04] vickyixr opened #12 "pm2 is not recognized"
Error:

'pm2' is not recognized as an internal or external command,
operable program or batch file.

Please suggest what am i missing?
I am new to JAVA

[2021-05-02 11:05] Priyaraj17 commented on #12
hey, I also encountered the same error. Just run this line
`npm install --global pm2@latest`

[2021-05-02 11:46] #10 closed

[2021-05-02 11:51] SaiRepos commented on #9
@kartikey54 Could you also please add option to check for multiple districts ?

[2021-05-02 11:52] dhyani15 opened #14 "Does this means it is working?"
Following the steps in the readme I am getting the final output in my terminal as
`
│ id │ name               │ mode     │ ↺    │ status    │ cpu      │ memory   │`
`│ 0  │ vaccineNotifier    │ fork     │ 0    │ online    │ 0%       │ 95.6mb   │`

[2021-05-02 12:01] #12 closed

[2021-05-02 12:01] kartikey54 commented on #14
Yes

[2021-05-02 12:01] #14 closed

[2021-05-02 12:03] nikunj-phutela opened #15 "Can we add multiple pin codes in the env file?"
PINCODE=pin code 1
EMAIL=
APPLICATION_PASSWORD=
AGE=

PINCODE=pin code 2
EMAIL=
APPLICATION_PASSWORD=
AGE=

Could we do it this way?

[2021-05-02 12:08] dhyani15 commented on #14
Thanks for your prompt reply @kartikey54 But I am not getting an email for a pincode where the dashboard is showing availability. Can you please clarify when I generate the app password, apart from the .env file do I have to add it in my mail for Mac desktop app as well?

[2021-05-02 12:15] sagarsoni7 opened #16 "Can we add Age?"

[2021-05-02 12:27] nikunj-phutela commented on #15
Does this also work when the terminal is closed?

[2021-05-02 12:34] dhyani15 commented on #16
Check the .env file, you have to provide an age in that file. It will be a hidden file, google for how to view hidden files. Answer varies if you are using Mac or windows

[2021-05-02 13:09] deepakk7195 opened #17 "How to enable gmail acess to the app"
Hi I am not able to find App Passwords under Signing in to Google, because there isn't any. The only section under this head is 'Password' which lets one to change the gmail password. So where to find the App Passwords?

[2021-05-02 13:10] dhyani15 opened #18 "Getting a warning npm WARN cowincheck@1.0.0 No repository field."
Is this common, I am trying to test but not getting an email

[2021-05-02 13:16] dhyani15 commented on #17
It is probably because you haven't setup a 2 factor authentication.

[2021-05-02 13:25] Priyaraj17 commented on #18
Can you share the entire message?

[2021-05-02 13:27] kamalkantnawal commented on #6
Just after installing pm2 globally if it still not working then, Define in System Env variables
**C:\Users\USERNAME\AppData\Roaming\npm**

After adding the path and a restart the application.

[2021-05-02 13:34] dhyani15 commented on #18
<img width="683" alt="Screenshot 2021-05-02 at 7 03 15 PM" src="https://user-images.githubusercontent.com/31188643/116814980-0f3d4c00-ab79-11eb-964d-e14b36956e30.png">

[2021-05-02 13:40] dhyani15 commented on #18
I am not getting an email, although the app is running. Tested on pin codes with availability. Not sure what am I missing!

[2021-05-02 13:41] #17 closed

[2021-05-02 14:14] VellalaVineethKumar opened #19 "Kudos to your idea!"
I used to check the website every day to see if the slots are released but you have made an awesome application. many Thanks, man!!|
I have attached a screenshot of the application running. Which says vaccine notifier disabled. How do i enable it?
![image](https://user-images.githubusercontent.com/31627944/116816260-d1432680-ab7e-11eb-9e6d-28e4ea8446d5.png)

[2021-05-02 14:19] sid8840 commented on #19
Same Here

[2021-05-02 15:10] meetcs1999 commented on #18
The same Error is showing in my system. Have installed pm2 Package.
![Error](https://user-images.githubusercontent.com/63470640/116817980-9e049580-ab86-11eb-9ad2-23a0860eac4e.png)

[2021-05-02 15:16] sid8840 commented on #18
sudo npm i -g pm2

[2021-05-02 15:38] sid8840 commented on #18
same here

[2021-05-02 15:54] shaileshba commented on #19
Wonderful idea indeed. True time saver.

I got an error as ''pm2 is not recognized as internal or external command'. Ran the following command on back of a stackoverflow tip and is running now. Command: "npm install pm2 -g -s"

[2021-05-02 16:05] manishsgaikwad opened #22 "''pm2' is not recognized as an internal or external command"
''pm2' is not recognized as an internal or external command.
Got this error on windows 10 20H@.

Installed it globally which fixed the issue.

`npm install pm2 -g`

[2021-05-02 16:06] manishsgaikwad commented on #15
Need a feature to have multiple pin codes. Otherwise I have to run multiple instances of the same code for different pin codes.

[2021-05-02 17:02] harneets04 opened #23 "What is the authorization mechanism"
Hi buddy,

Kudos to your efforts. This has made really easy.

Quick question, I was trying to call the API from postman directly but it is giving me 403 error. I saw your code and you are not using any authentication mechanism. So any idea why it is giving me 403 (forbidden) error?

Thanks!

[2021-05-02 17:32] meetcs1999 commented on #18
Not getting email now pm2 error got resolved. Even tried by adding 45+ age still no response.

[2021-05-02 18:08] Soniya318 opened #24 "Permission error"
![image](https://user-images.githubusercontent.com/74868644/116822951-47f01c00-ab9f-11eb-9e9c-00f5dc96fa78.png)

[2021-05-02 18:12] Soniya318 commented on #18
how to solve this error

![image](https://user-images.githubusercontent.com/74868644/116823075-10ce3a80-aba0-11eb-83f8-889328066c7c.png)

[2021-05-02 18:33] harshit-budhraja commented on #23
@harneets04 The API which is being used here is one of the public APIs - so there is no auth required. CoWIN has released documentations for two levels of their APIs - public and private. Most likely, if you're getting a 403 Forbidden Error, it's because you might be hitting Postman on a URL which is not a public API (I faced this issue yesterday too 😅).

Here's what I've done now - made a collect

[2021-05-02 19:22] harneets04 commented on #23
@harshit-budhraja Thanks for your reply. Yes, I saw both private and public. And I am trying for the public only. And their PROD URL. PFB the SS.
I think COVIN doesn't allow requests originating outside of India.

![image](https://user-images.githubusercontent.com/69697135/116824801-0e48f200-ab5a-11eb-99b0-8b0978671539.png)

[2021-05-02 19:41] sachinrane opened #25 ""Watching Disabled" Status"
![image](https://user-images.githubusercontent.com/34787376/116825292-41b46c80-abac-11eb-9e13-f293b9f94b64.png)

It's running fine but I get the status of "disabled" for the 'watching' status.

Does anything need to be done to resolve this?
@kartikey54

[2021-05-02 19:43] devsatishm commented on #23
@harneets04 Yes, that appears to be the case. Try using India proxy?

[2021-05-02 20:02] Priyaraj17 commented on #18
You have to go into the directory of the repo.

[2021-05-02 20:03] Priyaraj17 commented on #18
Will have to check a few things.

[2021-05-02 20:03] Priyaraj17 commented on #18
Try to re run it mine worked after rerun.

[2021-05-02 21:25] ghaisasadvait commented on #11
What does the 'Application Password' field in the .env file mean?.. Since cowin uses otp for authentication, i was confused.

[2021-05-02 23:04] dev-arpit opened #26 "TypeError: slot.slots is not iterable"
Great work !! Thanks for this.. I'm getting following error when running on MacOS Catalina.
Please help.
![image](https://user-images.githubusercontent.com/58763696/116830529-1ad44700-ab68-11eb-8f58-e24a74c872d7.png)

[2021-05-02 23:20] ghaisasadvait commented on #25
same issue for me
![image](https://user-images.githubusercontent.com/11556546/116831107-112ffb00-abcb-11eb-8415-a280279b1f31.png)

[2021-05-03 00:22] jarvishu commented on #25
Yup same for me. Please drop the comment if someone find out the solution
Not getting sample mail too.

[2021-05-03 00:36] jarvishu commented on #25
### Fixed the issue
1> Stop the process (**pm2 stop vaccineNotifier.js && pm2 delete vaccineNotifier.js**)
2> run command **pm2 start vaccineNotifier.js --watch**

[2021-05-03 00:44] jarvishu commented on #18
![image](https://user-images.githubusercontent.com/29713514/116833437-cc11c600-abd6-11eb-9734-2413b9e8fb11.png)
All process done but not getting emails . Tried re running too

[2021-05-03 00:49] dev-arpit commented on #26
RESOLVED after replacing 'slotDetails' with 'validSlots' in notifier.sendEmail call :
![image](https://user-images.githubusercontent.com/58763696/116833534-f6339b80-ab76-11eb-8314-6db240361543.png)

[2021-05-03 02:59] sid8840 commented on #25
even after watching is Enabled, did you get any email??

[2021-05-03 02:59] sid8840 commented on #26
Did it helped to get mails??

[2021-05-03 03:03] dev-arpit commented on #26
Yes. Emails working fine after the change.

[2021-05-03 03:06] sid8840 commented on #26
can you show your .env file??

[2021-05-03 03:50] jithin-zachariah commented on #26
It is because of passing stringified slotDetails to the sendEmail function. It is updated in my PR

[2021-05-03 04:05] sid8840 commented on #26
enter pin code 457887
age 46

and show me your getting mails in your inbox

i am using your PR this time

[2021-05-03 04:09] jithin-zachariah commented on #26
![image](https://user-images.githubusercontent.com/42039751/116840435-74358800-abf3-11eb-86c2-57bb09d1c01c.png)

[2021-05-03 04:13] sid8840 commented on #26
what type of application password have you generated for this purpose??
I have chosen Youtube and windows. it gave me a password that I have applied for.

everything is working fine under the terminal..its the mail part that's not working for me.

[2021-05-03 04:16] jithin-zachariah commented on #26
The app should be Mail right? The device I chose windows PC

[2021-05-03 04:32] sid8840 commented on #26
is it okay??
https://user-images.githubusercontent.com/83544106/116841370-9d0b4c80-abf6-11eb-939c-e679616fc81c.mp4

[2021-05-03 05:01] sid8840 commented on #26
okay the working solution is

npm i && pm2 start vaccineNotifier.js --watch
now I am getting emails.

thanks

[2021-05-03 05:14] sid8840 commented on #15
I support this request.

[2021-05-03 05:23] #24 closed

[2021-05-03 05:28] padmajan87 commented on #22
1. npm i pm2 -g -s
2. Go to powershell and type following command:
     set-ExecutionPolicy RemoteSigned -Scope CurrentUser
3. Then check using following command: Get-ExecutionPolicy
     o/p : RemoteSigned

[2021-05-03 05:36] padmajan87 opened #27 "Not getting email"
Hi Karthik,

 I provided all details in .env file.Not sure about app password. Just copied the string provided in sample.

But I didnt get any mail. Could you please let me know if any particular password should be provided.

Regards,
Padmajan V

[2021-05-03 05:39] Soniya318 commented on #25
![image](https://user-images.githubusercontent.com/74868644/116844170-f1ff9080-abff-11eb-8bae-b9f389e0685f.png)

not getting emails

[2021-05-03 05:40] sid8840 commented on #27
set 2-factor authorization in Gmail
after that go to security-app password-device=windows computer and app=mail
generate password
16 digit password should be generated
copy that password and paste the in-app password in the .env file
you will get mail.

[2021-05-03 05:43] sid8840 commented on #25
instead type this
npm i && pm2 start vaccineNotifier.js --watch

[2021-05-03 05:54] Soniya318 commented on #25
do we need to replace 'slotDetails' with 'validSlots' in notifier.sendEmail call :?

[2021-05-03 05:56] sid8840 commented on #25
yes

or us this PR
https://github.com/jithin-zachariah/VaccineAvailabilityNotifier

[2021-05-03 05:57] satyamsovan123 commented on #23
@harshit-budhraja I'm also trying to get vaccination details, but I'm getting access forbidden. It would be great if you could help me out.
![Screenshot 2021-05-03 at 11 24 53 AM](https://user-images.githubusercontent.com/33446554/116845057-6affe780-ac02-11eb-8a96-0220ff08f21f.png)

[2021-05-03 06:09] Soniya318 commented on #25
it finally worked! thank you :)

[2021-05-03 06:37] Soniya318 commented on #15
this is awesome, how did you do this?

[2021-05-03 06:40] sid8840 commented on #15
i have created multiple project folder containing the same files
and after that just updated the .env file in each folder
fired the same line of code

[2021-05-03 06:41] furiousluck commented on #27
my watching is enabled but still i am not getting any mail

[2021-05-03 06:45] sid8840 commented on #27
go through https://github.com/kartikey54/VaccineAvailabilityNotifier/issues
you will find what you need.

[2021-05-03 06:49] Soniya318 commented on #15
did you keep the main folder - "C:\Users\USER\VaccineAvailabilityNotifier-main " as it is and created sub-folders?

[2021-05-03 06:50] kushagraagent47 opened #29 "PORT"
On which port is this node app running

[2021-05-03 07:04] mitvik13 commented on #18
How did you solve the error issue

[2021-05-03 07:18] harshchiki opened #31 "How to test the sanity of a successful invocation?"
Request to add logic to performa and share sanity check, when the app is triggered. For e.g. the moment it is triggered - send to the configured mail, that the daemon has begun, you will be notified when there is a slot available.

Please correct me, if this is already available?

[2021-05-03 07:22] Pratik2125 commented on #25
1) made the changes in notifier (i.e replaced 'slotDetails' with 'validSlots')
2) Entering the age for which cowin website is showing dates near the pincode.
3) Still not getting mails.

<img width="1420" alt="Slots" src="https://user-images.githubusercontent.com/16135238/116850440-4c9fe900-ac0e-11eb-922e-86cc884098bd.png">

Any help

[2021-05-03 07:32] abhilashkulkarniofficial commented on #31
Hi @harshchiki. We'll add this feature to the app. Thanks!

[2021-05-03 07:34] abhilashkulkarniofficial commented on #16
@sagarsoni7 use an editor like VSCode. You will be able see the .env file and add your age to it.

[2021-05-03 07:37] sid8840 commented on #25
Are slots available on Cowin site??

[2021-05-03 07:49] harshchiki commented on #31
Thanks @abhilashkulkarniofficial , raised PR: https://github.com/kartikey54/VaccineAvailabilityNotifier/pull/33

[2021-05-03 07:53] sagarsoni7 commented on #16
@dhyani15 @abhilashkulkarniofficial Thanks

[2021-05-03 07:59] Pratik2125 commented on #25
@sid8840 yes, it has slots available

[2021-05-03 08:08] sid8840 commented on #25
Use this PR
https://github.com/jithin-zachariah/VaccineAvailabilityNotifier

[2021-05-03 08:09] sid8840 commented on #15
Made multiple project under same directory and ran command

[2021-05-03 08:25] pmitra96 opened #36 "Feature Request : can we host this in a prod env"
this will have great potential if it can be pushed to a prod env which will enable non-devs to use this.

[2021-05-03 08:26] SurendraKMali opened #37 "issue while following step 3 : command not found: pm2"
Step 1 and Step 2 done.

While following step 3  run: `npm i && pm2 start vaccineNotifier.js`
getting below error

`command not found: pm2`

![image](https://user-images.githubusercontent.com/37996959/116855447-0307cc00-ac17-11eb-9f6d-42a20fc35fe2.png)

[2021-05-03 08:26] Pratik2125 commented on #37
install pm2

[2021-05-03 08:29] SurendraKMali commented on #37
@Pratik2125  : Yes sorted
`npm i -g pm2`

[2021-05-03 08:29] #37 closed

[2021-05-03 08:42] Spetsnaz-Dev commented on #29
App not running on any server.

[2021-05-03 08:43] Spetsnaz-Dev commented on #29
@kushagraagent47 app not running on any server

[2021-05-03 08:45] dhyani15 commented on #16
No worries mate, happy to help.

[2021-05-03 08:53] mrsus commented on #25
Please run `pm2 logs vaccineNotifier` to see any error occurred in script.

[2021-05-03 09:20] officialasit opened #38 "Request Limits"
Hi,

Just had a question regarding request limits on the COWIN API ?

Is there a limit to how many requests we can make per sec/min?

Thanks

[2021-05-03 09:56] meetcs1999 commented on #18
Just Install pm2 using the node command : npm install pm2 -g

[2021-05-03 11:20] nikunj-phutela commented on #15
@sid8840 could you please share a screenshot of your folder structure along with a screenshot of your env file? Would be very helpful

[2021-05-03 12:56] msvamp commented on #38
The APIs for most government services are documented on [API Setu](https://apisetu.gov.in/)
The CoWIN APIs are [here](https://apisetu.gov.in/public/api/cowin)

To read about the limits, you will have to go through the [Terms of use](https://apisetu.gov.in/public/api/terms.php) of API Setu.

[2021-05-03 13:03] sid8840 commented on #15
![1](https://user-images.githubusercontent.com/83544106/116879181-f5197180-ac3d-11eb-88d5-ac3f5e083b92.jpg)

[2021-05-03 14:16] rajeshroy402 opened #40 "A video instruction would have been awesome!"
Hi,
I guess the subject does not need an elaboration. A video on how-to will benefit more users using this..

[2021-05-03 15:12] goodbadwolf commented on #23
@satyamsovan123 I had the same issue. I was able to fix it by using an Indian proxy (or disabling a US one if you have any)

[2021-05-03 15:21] saransh-mehta opened #43 "Check for multiple Pincodes"
Hi, thank you for making this open source. I was wondering how can I check for availability on multiple pin codes at once.
I do see the pincode in .env file, but I'm assuming right now it accepts only single pin code.

[code]

[2021-05-03 16:23] harshit-budhraja commented on #23
@goodbadwolf @satyamsovan123 @devsatishm @harneets04
I think the issue could be something else and completely unrelated to your geolocations. Here's a quick little experiment I did to check this - Tried hitting the CoWIN APIs from 3 different IP addresses (proxied via 3 different countries - India, US, UK) and I got `200 OK` responses from each one of these trials.

IP Addresses used: `49.36.107.1

[2021-05-03 16:27] harshit-budhraja commented on #23
@satyamsovan123 As far as your issue is concerned - can you check the `baseUrl` which your request is using? I'm sure you'd be using something like `https://api.sit...`. Please make sure to use their CDN APIs instead - `https://cdn-api...` and it'll work. You can use this collection that I've created - https://www.postman.com/harshitbudhraja/workspace/harshit-s-public-workspace/documentation/15207

[2021-05-03 16:32] harshit-budhraja commented on #23
Also, one more thing I just noticed - Hitting the APIs from Postman's Web Platform gives a Forbidden error, while doing the same from the desktop app works! Not clear if the downstream is blocking certain agents or origins, would need to explore this further.

[2021-05-03 17:02] satyamsovan123 commented on #23
![Screenshot 2021-05-03 at 10 27 09 PM](https://user-images.githubusercontent.com/33446554/116907128-c9f34a00-ac5e-11eb-81b1-f1fce1279656.png)
Still the same error! 😭 And I'm only using the Indian network.

[2021-05-03 17:24] shivamgor498 opened #46 "send init email"
Initial email should be sent, once watching is set to enabled. So that, user will get to know mail notifications are working fine.

[2021-05-03 17:48] arvisem commented on #46
Is the initial email being sent?
I was able to launch the application, but received no mail.

[2021-05-03 17:53] arvisem commented on #31
Hi @abhilashkulkarniofficial is the sanity check working? I was able to run the script but did not receive any email.
![Annotation 2021-05-03 232308](https://user-images.githubusercontent.com/83604970/116912978-8d2b5100-ac66-11eb-8bf2-2728be1a2fa2.jpg)

[2021-05-03 17:56] ketanbijwe opened #47 "pm2 is not a valid command"
zsh: command not found: pm2

![Screenshot 2021-05-03 at 11 26 18 PM](https://user-images.githubusercontent.com/31929352/116913358-0165f480-ac67-11eb-8618-10e4a349750e.png)

After changing pm2 to npm start, getting below error -

0 verbose cli [
0 verbose cli   '/usr/local/bin/node',
0 verbose cli   '/usr/local/bin/npm',
0 verbose cli   'start',
0 verbose cli   'vaccineNotifier.js'
0 verbose cli ]

[2021-05-03 18:09] AbhinavS96 commented on #47
Try running sudo npm install pm2 -g

[2021-05-03 18:12] ketanbijwe commented on #47
thanks

[2021-05-03 18:12] #47 closed

[2021-05-03 20:11] satyamsovan123 commented on #23
Still the same error! 😭 And I'm only using the Indian network.
![Screenshot 2021-05-03 at 10 27 09 PM](https://user-images.githubusercontent.com/33446554/116927856-dd5fde80-ac79-11eb-8c84-9128c17d5c88.png)

[2021-05-04 02:50] vishwaphansal7 opened #50 "can you add for sputnix-v in hyderabad"
please add support for multiple vaccine at a single hospital

[2021-05-04 04:18] jarvishu opened #52 "False Mail"
Hi All
I am getting false email .
The mail says that 1 slot is available but when I check the cowin website it isn't.
Sharing screenshot of both:
Anyone else facing same issue ?
![image](https://user-images.githubusercontent.com/29713514/116960338-bb884b00-acbd-11eb-84c4-f41d381f7d5e.png)
![image](https://user-images.githubusercontent.com/29713514/116960370-ce028480-acbd-11eb-9592-d5ed0c685ec8.png

[2021-05-04 04:21] jarvishu commented on #31
Your watching is disabled. Try doing something like this : **pm2 start vaccineNotifier.js --watch**
To check the ping and the logs : **pm2 logs vaccineNotifier**

[2021-05-04 04:27] sid8840 commented on #52
the script checks the slot in 1 min's time and sends the mail.
so it is possible that someone else books the slot in between.
I try to avoid those 1 capacity slots because of unavailability.
the script is working fine.

[2021-05-04 04:41] manuagrwl commented on #52
to avoid this single slot menace, I changed "slot.available_capacity > 20" in the function "getSlotsForDate" in vaccineNotifier.js

[2021-05-04 04:42] padmajan87 opened #53 "Could you please generate email and forward."
Hi Karthik,
   Could you please run the application for pin code 678544 and forward it to nvinu59@gmail.com. It would be very helpful.

Regards,
Padmajan V

[2021-05-04 04:43] sohamsshah opened #54 "Add .env to gitignore file"
Adding .env to production isn't a good practice. Would like to RAISE a PR for the same.

P.S. - Loved your project :)

[2021-05-04 05:01] nomulas commented on #46
![image](https://user-images.githubusercontent.com/33462716/116962536-d8278180-acc3-11eb-9762-c8540fbbb00f.png)

watching is set to enabled but I dint get the inital email!!!, can you help

[2021-05-04 06:33] shivamgor123 commented on #46
no initial email is not being sent, I'm suggesting that this should be added

[2021-05-04 06:39] #53 closed

[2021-05-04 06:39] #52 closed

[2021-05-04 07:08] mansayyy opened #56 "How to check if it has been set up successully?"

[2021-05-04 07:09] sid8840 commented on #56
if you are getting mail..its ok

[2021-05-04 07:11] mansayyy commented on #56
I dint receive any mail till now

[2021-05-04 07:13] sid8840 commented on #56
is pin code showing slots available on cowin site?

[2021-05-04 07:13] shantnu-agarwal commented on #54
The purpose of the env in this project is to enable people to configure their own email, age, pincode, etc. Adding the ENV to gitignore would defeat the purpose of making this project accessible to a large set of people who wouldn't know how to set up a env file on their own.

As per me, this is a non-issue.

[2021-05-04 07:14] mansayyy commented on #56
Nope, acha so it will mail only when it is available?

[2021-05-04 07:16] sid8840 commented on #56
there you are!!

[2021-05-04 07:17] mansayyy commented on #56
Haha, thanks !

[2021-05-04 07:17] #56 closed

[2021-05-04 07:26] sohamsshah commented on #54
Fine, makes sense. Though, I suppose this is being used by developers; so a good readme with details for .env would do the purpose. Anyways, no problem.

P.S. - In open source, never thumbs down someone's comment. Respect opinions to make it a positive place to work at. Thanks

[2021-05-04 07:26] #54 closed

[2021-05-04 07:28] sid8840 commented on #15
yes

[2021-05-04 07:29] nomulas commented on #56
I thought there will be an initial email that will be sent when we start the application. So we will know the email notification are working.

[2021-05-04 07:30] mansayyy commented on #56
Yeah even I thought so

[2021-05-04 07:31] sid8840 commented on #56
You can Check for serviceable pin code too.

[2021-05-04 08:41] varunn12 commented on #46
I did the whole s et up but no received no email

[2021-05-04 08:42] varunn12 commented on #27
I did the whole set up but didn't receive any email

[2021-05-04 08:42] dhanushng88 opened #58 "I am unable to run the app... can you please help"
![image](https://user-images.githubusercontent.com/52316009/116979516-b7baef80-ace2-11eb-8d86-c5f5ddbe2238.png)

[2021-05-04 09:24] Mindjolt2406 opened #59 "Increasing polling frequency"
Currently, the requests are polled every minute. Could we have a higher frequency, say 15seconds? This is because the vaccines get booked in 1-2 mins.

[2021-05-04 10:42] varunn12 commented on #27
Check Line 56 of vaccineNotifier.js
Email is triggered only when slots are available.
` if(validSlots.length > 0) {
                notifyMe(validSlots);
            }
            `
            That is why email is not coming.

            To check do following:

           ` async function main(){
    try {
        notifyMe('{}') // Add this line
        cron.schedule('* * * * *', async () => {

[2021-05-04 11:19] nomulas commented on #27
in which like where to add this new line?

[2021-05-04 11:20] sankparatkar opened #61 "Unethical IMO"
I know not the right place for suggestions. But these automated hits on the Cowin portal could crash the server down and thus are quite selfish. Come on, we all are aware about the servers these guys use.
It is in my opinion a complete missuse of the knowledge since those who actually need the vaccine (45+) won't be able to access the portal.
So I would say keep this thing private, the problem isn

[2021-05-04 11:26] nomulas commented on #46
I inserted a new line at 23 and added this line notifyMe('{}') in vaccineNotifier.js and started the application and got a dummy email. thanks @varunn12

[2021-05-04 12:14] roronoazabuza commented on #46
in which file did u enter it exactly?(notifier.js/vaccineNotifier.js?)

[2021-05-04 12:17] roronoazabuza commented on #46
how to enable watching?

[2021-05-04 13:19] sid8840 commented on #59
you will end up in blocking ip

[2021-05-04 13:25] sid8840 commented on #58
it must be operated on linux.

[2021-05-04 13:29] sid8840 opened #62 "IP ban"
after 5 continuous runs on the same IP for the interval of 1 min, IP gets banned.
anybody facing this?

[2021-05-04 13:32] Priyaraj17 commented on #58
Actually i used windows and things worked for me.

[2021-05-04 13:39] hdhruna commented on #61
Maybe adding an option to rate-limit should suffice.

[2021-05-04 13:47] sid8840 commented on #61
Kindly check the scenario
[COWIN Notifier](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwis0OfzkrDwAhU0muYKHUisBjIQ0PADegQIBhAB&url=https%3A%2F%2Fwww.91mobiles.com%2Fhub%2Fgetjab-covid-vaccine-slot-cowin-notifier%2F&usg=AOvVaw305eH_NmIBHRg5w75Bz8GN)
[Under 45](https://under45.in/)
[Various Other notifier](https://www.moneycontrol.com/news/photos/coronavirus/covid-19-vac

[2021-05-04 14:45] dev-arpit commented on #62
Yes.. I noticed it too.

[2021-05-04 15:59] sid8840 commented on #62
can we poll request to by 2 min??
the new server update puts a temporary ban on IP polling request of 1 min.

[2021-05-04 16:58] nomulas commented on #59
I think it should be configurable. And the frequency should drop once the VACCINE AVAILABLE notification is sent and move the frequency back when the availability is low again. Can someone help on this piece?? FIY @kartikey54

[2021-05-04 17:32] princeraheja1998 commented on #23
My question is how u get these api's link and is there mistake by arogya developers not adding authorization in these api

[2021-05-05 02:00] saimurali619 commented on #40
It is pretty easy. Just install node.js for windows and also pm2 and use commands to start the app in your machine and when you want to stop it run the stop command.

[2021-05-05 08:36] ishika07 opened #65 "Script not found error"
Installed everything according to the instructions.
![image](https://user-images.githubusercontent.com/50738405/117115611-f61be180-adaa-11eb-96d2-8c497bb93f61.png)

[2021-05-05 12:04] meetcs1999 commented on #58
Install node js library.

[2021-05-05 15:31] rahu619 commented on #23
I could only retrieve data from their Test server. As for the production server one, I'm getting this 403 Forbidden access like many others here :|

[2021-05-05 15:39] mitvik13 commented on #62
I got the mails for the first 2 days, But have stopped receiving them now. So is this because of IP Ban?

[2021-05-05 15:46] atishnilakhe opened #66 "Getting error as below"
I have been trying to use the tool but not luck yet.

Let me know if I am missing any steps.

![image](https://user-images.githubusercontent.com/19948392/117169758-0356c180-ade7-11eb-8ed4-50b42a929368.png)

Note that I did try googling for this error but none of the blog helped to solve it.

[2021-05-05 16:03] sid8840 commented on #66
You are not alone mate!!

[2021-05-05 16:04] sid8840 commented on #62
yes

[2021-05-05 16:06] mitvik13 commented on #62
Were you able to find any solution to this? If any please let me know

[2021-05-05 16:08] Ganeshbiradar commented on #31
![image](https://user-images.githubusercontent.com/35378070/117173051-00a99b80-adea-11eb-9dcc-8efa3397fad7.png)

I enabled watching with above script but till didn't receive mail. Is this a server issue?

[2021-05-05 18:40] atishnilakhe commented on #66
So I was able to get it installed and running on Windows platform instead of Linux however I am not getting emails. I have verified it for pin codes where vaccines are available for specified age by changing the values in .env file.

Not sure where could be the problem.

Here is the status of the program :

![image](https://user-images.githubusercontent.com/19948392/117192351-402eb280-adff-11eb-82

[2021-05-06 03:36] satyamsovan123 commented on #23
@princeraheja1998 You can get those API links here - https://www.postman.com/harshitbudhraja/workspace/harshit-s-public-workspace/documentation/15207083-2fcc3768-d4ed-4785-b426-830f87135329

All of them are available to public, @harshit-budhraja compiled the endpoints. And, I believe something is wrong at their end. And, they haven't fixed it yet.

[2021-05-06 03:52] satyamsovan123 commented on #23
For those who are getting errors by passing values, here -
{{baseUrl}}/v2/appointment/sessions/public/calendarByPin?pincode=110001&date=31-03-2021&vaccine=COVISHIELD

I had to go other way round. First I fetched the states, and got hold of stateID from here -
{{baseUrl}}/v2/admin/location/states
Then, I fetched the district with the stateID, and stored the selected districtID along with date (from

[2021-05-06 04:15] jarvishu commented on #62
any luck?

[2021-05-06 07:08] sid8840 commented on #62
NO

[2021-05-06 07:09] sid8840 commented on #62
it must be related to the user agent.
because once the server sees a request from an unknown user agent over 1 min..it bans that particular IP for 1-5 min.

[2021-05-06 08:44] jarvishu commented on #62
Are you getting the same error?
![image](https://user-images.githubusercontent.com/29713514/117268859-5d9e6380-ae75-11eb-8ab4-5523a8f8b891.png)

[2021-05-06 09:31] Divyansh12 opened #69 "API showing 400 bad request when using this application or postman"
API is showing 400 Bad Request when using with postman or with this application since today (It was working fine till yesterday night). But it is working when using the link in browser directly.

I have tried modifying the user-agent but still it is not working.

Can anyone help me with this issue ?

![image](https://user-images.githubusercontent.com/31319271/117276883-f2f12600-ae7c-11eb-9b66-14bc

[2021-05-06 11:15] akubuzz commented on #62
I think this application will not work anymore. They have put cloudfront check on API access. API can only be accessed now from cowin application's IPs

[2021-05-06 12:01] TitusRobyK commented on #69
Set a user-agent in header , while using POSTMAN , you will get the response..
Similarly headers in vaccine-notifier.js has to updated for this application to work

[2021-05-06 17:42] TitusRobyK commented on #66
You have to pass the below headers while invoking the API

let HEADERS = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36",
    'accept': 'application/json',
    'Accept-Language': 'hi_IN'
}

[2021-05-06 20:45] #69 closed

[2021-05-07 06:49] shadabshaikh0 commented on #61
I totally agree with @sankparatkar. I think this feature should be integrated into Aarogya Setu App.  Even I created the website with the same idea. But dropped the plan of hosting it after reading @sankparatkar  comment. 👍

[2021-05-07 07:44] jetchirag commented on #62
@akubuzz API is still accessible but I think they are now serving cache

[2021-05-07 15:23] rkr-dev commented on #66
once setup simply run  node vaccinenotifier.js

[2021-05-07 15:34] Priyaraj17 commented on #65
Maybe pm2 is not installed in your PC

[2021-05-07 15:55] snehitvaddi opened #73 "An End-to-End application would be great."
Giving code may be useful only for developers/geeks.
Having an End-to-End application will serve all kinds of people.

If anyone has developed an End-to-End application, please share it here.

[2021-05-07 17:22] sankparatkar commented on #61
@shadabshaikh0  appreciate it man. Notifications should always be handled at the server's end. Polling from clients is terrible idea in my view, given we have millions of them. Not sure why they would expose the API to public.smh.
I think Cowin Dev team should implement this feature which would be quite efficient and easier for all.

[2021-05-07 19:21] rohitkolapkar opened #74 "CloudFront is blocking requests"
### Vaccine availability checker started.
**RESPONSE DATA**

[code]

**RESPONSE STATUS**
<pre>
403
</pre>
**RESPONSE HEADERS**
<pre>
{
  server: 'CloudFront',
  date: 'Fri, 07 May 2021 19:13:59 GMT',
  'content-type': 'text/html',
  'content-length': '919',
  connection: 'close',
  'x-cache': 'Error from cloudfront',
  via: '1.1 a35f3496e12ed4f14d5a938f1d80b6f6.cloudfront.net (CloudFront)',
  'x-a

[2021-05-08 01:56] catrawalkar commented on #74
Got same error, I then gave proper headers... Got it resolved

[2021-05-08 05:49] Sumit9896926322 commented on #74
@catrawalkar can you please provide your headers you are passing in request?

[2021-05-08 05:57] rohitkolapkar commented on #74
@Sumit9896926322  explicitly provide some other User-Agent in headers.
It worked for me.
I think, axios user agent is blocked by cloudfront.

[2021-05-08 06:01] Sumit9896926322 commented on #74
@rohitkolapkar  thanks,it worked for me.

[2021-05-08 06:22] rohitkolapkar commented on #74
@sid8840
Find the configuration for axios call. In headers, add 'User-Agent':'<search user agents on google and replace this value>'.

[2021-05-08 06:54] Sumit9896926322 commented on #74
@rohitkolapkar some of my requests failed with unauthenticated access can you explain why?

[2021-05-08 08:03] CyberSG27 commented on #74
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36', add this in vaccineNotifier.js in headers

[2021-05-08 11:19] tejas-2232 commented on #73
Yeah. This is a great idea.
Need to think about the process of making it.
If anyone is doing so I would more than happy to help 💯

[2021-05-08 12:28] shadabshaikh0 commented on #73
@snehitvaddi @tejas-2232  Please go through #61

[2021-05-08 14:15] tejas-2232 commented on #22
Will this work on Ubuntu 16.04?

[2021-05-08 14:23] tejas-2232 commented on #18
Same problem for me.
I have also installed pm2

[2021-05-08 14:25] tejas-2232 commented on #18
In  my machine, __watching__ status is __disabled__

[2021-05-08 14:33] tejas-2232 commented on #18
I am also getting same warning.

[code]

[2021-05-08 17:35] tejas-2232 commented on #61
Yes, I agree with you.
We should not block the servers from other real necessary requests.
But in my opinion, if the uses AWS services then the problem might get solved. After all govt infra should be that strong right?
Let me know your view about it.

[2021-05-08 17:37] tejas-2232 commented on #73
thanks, man for redirecting.
simple and short messages like this help alot.

[2021-05-08 17:48] soul0101 commented on #74
Is it only me or is it now not working even after defining a user-agent?

[2021-05-08 18:19] soul0101 commented on #74
This works when I run it on my local machine but throws an error when I use repl.it. Any idea why?

[2021-05-08 19:40] JPRMohnish commented on #74
I am getting same error tried requests it also didn't work.
Can you give the headers . I was making a CLI tool for the same. API

[2021-05-09 08:34] snehitvaddi commented on #73
Yup, this discussion makes sence🙏

[2021-05-09 08:34] #73 closed

[2021-05-09 08:35] snehitvaddi commented on #61
In my view, both of you are absolutely right.
* We should be ethical and accountable for doing something in the public domain.
* Govt should also be to the par keeping in correspondence to our country population. (And Govt is doing their best).

[2021-05-09 12:40] debmalyapan53 commented on #74
I passed these headers and it worked.
'Host': 'cdn-api.co-vin.in',
'User-Agent': 'PostmanRuntime/7.26.8'

[2021-05-09 16:26] JPRMohnish commented on #74
THank You so  Much it worked !!

[2021-05-10 05:49] vedsm commented on #61
The APIs used here are Public APIs(deliberately made so by the CoWIN, so that any 3rd party who can and want to build an expensive notification service around it can do so). Also these APIs have rate limiting plus caching so as to avoid any crashes of CoWIN Portal.

“The [CoWIN site’s vaccine] appointment availability data is cached and may be up to 30 minutes old. Further, these APIs are subject

[2021-05-10 06:03] shadabshaikh0 commented on #61
@vedsm Great. Thanks for sharing.

[2021-05-10 07:03] sankparatkar commented on #61
@vedsm Yeah i did come across [this](https://apisetu.gov.in/public/marketplace/api/cowin/cowin-public-v2)  couple of days back. But then I checked API used by Production Cowin Portal.  (Image attached)
![Cowin Prod](https://user-images.githubusercontent.com/37218912/117616362-a6615f80-b188-11eb-834a-f074adff865e.PNG)

Then I tried using the same. and I was able to without any issue.
You can also t

[2021-05-10 12:37] Sumedh-999 opened #77 "Error: connect ETIMEDOUT 15.206.64.166"

[2021-05-11 15:13] Smket99 opened #79 "Added calendarByDistrict but throwing error"
I added calendarByDistrict, hardcoding the district_id and the date for now, but getting this error-
![image](https://user-images.githubusercontent.com/50743029/117840056-6e960d00-b299-11eb-9780-48a8f6eec3a0.png)

[2021-05-12 18:49] imshinto commented on #22
Had same issue on mac. Installed it globally which fixed it .

[2021-05-13 05:01] tejas-2232 commented on #22
## I think we can close this issue now.
### what you say?

[2021-05-14 05:19] amjd commented on #62
Which private API are you referring to?

[2021-05-14 08:43] debmalyapan53 commented on #62
Public: https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByDistrict?district_id=XYZ&date=XYZ
Internal/Realtime: https://cdn-api.co-vin.in/api/v2/appointment/sessions/calendarByDistrict?district_id=XYZ&date=XYZ

[2021-05-14 19:00] pranshukas opened #81 "Axios(config) is throwing Error."
the Axios Config is not working it's throwing Error!
[code]
I tried running this function but it's throwing an error.

![image](https://user-images.githubusercontent.com/58984074/118315827-a27c6700-b513-11eb-92ba-57b66136904c.png)

Can Anyone please suggest us why this is happening or how else can we implement the same thing. I also tried using the request package which is getting executed perfect

[2021-05-14 19:12] pranshukas commented on #66
I tried including in the header but getting errors. It's showing cannot read property filer of undefined. I thought it may be due to no slots available but when I tried to use some other date in which slots were available then also it's showing the same.
Also tried to console.log(sessions) but getting it undefined.

![image](https://user-images.githubusercontent.com/58984074/118317784-1cadeb00-b51

[2021-05-14 19:16] pranshukas commented on #73
I want some help @tejas-2232 Please Help me out. I am working on making Frontend Webapp on which users can directly put their emails and pin code and it will send the data processing in the background, but facing some problems.
Please Help Me out !!

[2021-05-22 05:23] saymedgm commented on #81
Problem is in the api errors 403 means it is not able to authorize I tried displaying api through axios it is showing same error

[2021-06-14 10:16] sangeethkumarsg commented on #79
URL is for search by district is like this
`'https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByDistrict?district_id=' + DISTRICT_ID + '&date=' + DATE,`

The above code is working for me

[2022-05-10 13:26] Blue-Skyer opened #88 "No license"
Hello,

May we know the license for repo? GitHub also encourages us to have a license for public repo (under “Licensing a repository - GitHub Docs”). We would like to highlight this as a transparency concern.

The following are from GitHub Docs.
· "If you're creating an open source project, we strongly encourage you to include an open source license."
· "If you publish your source code in a public